# Shell
alias ll="exa -al"

# Capistrano
alias caplive="cap live deploy"

# Git
alias gs="git status"
alias gd="git diff"
alias ga="git add -A"
git_commit() {
  git commit -m "$1"
}
alias gc=git_commit
alias gp="git push"
alias gpp="git push -u origin HEAD"
alias gpu="git pull"
alias gb="git branch"
alias gco="git checkout"
git_log() {
  git log -${1:-3}
}
alias gl=git_log
git_squash() {
  NUM=${1:-2}
  read -r -p "Commit and squash last $NUM commits? [y/N] " response
  if [[ "$response" =~ ^([yY][eE][sS]|[yY])+$ ]]
  then
    ga
    gc "Misc cleanup (squash me!)"
    git reset --soft HEAD~$NUM &&
    git commit --edit -m"$(git log --format=%B --reverse HEAD..HEAD@{1})"
  fi
}
alias gsq=git_squash
alias gr="git rebase"
alias gcss="git commit --amend --no-edit"

# Rails
alias bx="bundle exec"
rails_db_test_rebuild() {
  bundle exec rails db:drop RAILS_ENV=test
  bundle exec rails db:create RAILS_ENV=test
  bundle exec rails db:schema:load RAILS_ENV=test
}
alias db-test-rebuild=rails_db_test_rebuild
alias rclean=make_clean_with_rails_reset
make_clean_with_rails_reset() {
  make cleanforce
  make services
  sleep 3
  rails db:create
  rails db:migrate
  rails s
}
alias spec="RUBYOPT='-W0' rspec"

# Docker
alias dc="docker-compose"
alias dstop='docker stop $(docker ps -aq)'
alias dps='docker ps --format "table {{.Names}}\t{{.ID}}\t{{.Image}}\t{{.Ports}}"'
alias dpsa='docker ps --format "table {{.Names}}\t{{.ID}}\t{{.Image}}\t{{.Ports}}" -a'
alias dx='docker exec -it'
alias dxa='docker-compose exec app'
alias dcu='docker-compose up'
alias dcb='docker-compose build'
alias dca='docker-compose run app'
alias dspec='RAILS_ENV=test docker-compose run app rspec'
alias dbash='docker-compose run --service-ports app bash'
alias dvolprune="docker volume rm $(docker volume ls -q | awk '!/_/' | tr '\n' ' ')"
alias dokpub="git push dokku main:master"
drestart() {
  docker-compose stop app
  docker-compose start app
}

# Tools
alias a="code ."
alias grok="ngrok http -subdomain=jcktest 3000"

# Macros
gpucore() {
  git pull
  bundle
  bundle exec rails db:migrate
  git checkout db/schema.rb
  git checkout db/insights_schema.rb
}

# Current projects
alias sshp="ssh jcraigk@ssh.phish.in"
alias wik="gollum ~/code/dd-wiki --allow-uploads dir --ref main"
alias blog="jekyll serve --port 3000"
