[user]
  email = jcraigk@gmail.com
  name = Justin Craig-Kuhn (JCK)

[core]
  pager = delta

[pull]
  rebase = false

[push]
  default = current

[delta]
  dark = true
  syntax-theme = OneHalfDark
  minus-style = "syntax #140003"
  minus-emph-style = "syntax #590102"
  plus-style = "syntax #001402"
  plus-emph-style = "syntax #01590a"
  hunk-header-decoration-style = "#444444 box"

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[include]
  path = ~/.gitconfig.local
