[user]
	email = jcraigk@gmail.com
	name = Justin Craig-Kuhn (JCK)
	signingkey = /Users/justin.craigkuhn/.ssh/id_ed25519.pub
[core]
	editor = vim
	pager = delta
	autocrlf = input
[pull]
	rebase = false
[push]
	default = current
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
		line-numbers = true
[merge]
    conflictstyle = zdiff3
[credential]
        helper = osxkeychain
[maintenance]
        repo = /Users/justin.craigkuhn/workspace/zenpayroll
[commit]
	gpgsign = true
[gpg]
	format = ssh
