[user]
  email = jcraigk@gmail.com
  name = Justin Craig-Kuhn (JCK)

[core]
  pager = delta

[pull]
  rebase = false

[push]
  default = current

[delta]
  syntax-theme = OneHalfDark
  file-style = "omit"
  hunk-header-style = "file line-number syntax"
  hunk-header-decoration-style = "box #666666"
  hunk-header-line-number-style="#dddddd bold"
  hunk-header-file-style="#dddddd bold"
  hunk-label = "⚒"
  minus-style = "syntax #1f0000"
  minus-emph-style = "syntax #590102"
  plus-style = "syntax #001400"
  plus-emph-style = "syntax #01590a"

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[color]
  ui = auto

[color "status"]
  added = 28 bold
  changed = 167 bold
  untracked = 167 bold
  branch = blue bold
  header = white dim
  unmerged = 167 bold

[include]
  path = ~/.gitconfig.local
