"*":
  "atom-beautify":
    html: {}
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".log"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai-2020-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    fontFamily: "Fira Code"
    fontSize: 18
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "15a88bad-390a-4f4b-8345-6a35a2467d36"
  "find-and-replace":
    closeFindPanelAfterSearch: true
    focusEditorAfterSearch: true
    scrollToResultOnLiveSearch: true
  "linter-ui-default": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "nyan-indent":
    customColors:
      "0": "#00a2cf"
      "1": "#33fe69"
      "2": "#ff80fa"
      "3": "#ffe83c"
      "4": "#00f9fb"
    opacity: 4
    useCustomColors: true
  "sync-settings":
    _lastBackupHash: "a1342aa18ce5cd96144d0176cd1dd94149b0e766"
    gistId: "8797919a51616933ba14e306b57902d4"
    personalAccessToken: "[filtered]"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
