'.source.ruby':
  'frozen string literal':
    'prefix': 'froz'
    'body': '# frozen_string_literal: true'
  'binding.pry':
    'prefix': 'bb'
    'body': 'binding.pry'
'.source.php':
  'pdo prepare query':
    'prefix': 'pdp'
    'body': """
      $q = $pdo->prepare("$1");$2
    """
  'pdo execute query':
    'prefix': 'pdx'
    'body': """
      $q->execute(array(
        ':$1' => $$2
      ));$3
    """
